.colorPicker {
    width: 100%;
    position: absolute;
    opacity: 0;
}

.pickerContainer{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.colorCircle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 0 10px 0 10px;
}

.colorMainContainer{
    display: flex;
    align-items: center;
    border: solid 1px #ddd;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 2px 2px #ddd;
}

.colorName{
    color: var(--secondary-text-color--);
}

.inputColorContainer .inputError{
    text-align: left;
    color: var(--error-color--);
    font-size: 15px;
    font-weight: normal;
}