.main {
  padding-block: var(--page-block-padding--);
}
.main h1 {
  font-size: var(--h1-title-size--);
}
.main h2 {
  font-size: var(--h2-title-size--);
}
.main h3 {
  font-size: var(--h3-title-size--);
}

.table {
  margin-top: 20px;
}

.td {
  display: flex;
  align-items: center;
  justify-content: start;
}
.td .img {
  margin-inline: 70px;
}

@media only screen and (max-width: 800px) {
  .td {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: end;
  }
}