.areaLogo {
  height: 25px;
  width: 25px;
  max-height: 25px;
  max-width: 25px;
  margin: 5px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.activityTable{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pagination{
  margin-top: 20px;
}

.activityLink{
  text-decoration: none;
}

.activityLink:hover{
  text-decoration: underline;
}