.importUsersPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--page-vertical-padding--) var(--page-horizontal-padding--);
}

.tableCell {
    cursor: pointer;
}

.buttonCell {
    text-align: end !important;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.pageTitle {
    text-align: left;
    width: 100%;
    align-self: flex-start;
}

.titleText {
    width: 100%;
    margin-top: 5px;
}

.actionsContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    column-gap: 15px;
}

.checkboxContainer{
    width: 100%;
    margin-top: 40px;
}

@media only screen and (max-width: 765px) {
    .pageTitle, .titleText {
        text-align: center;
    }
}