$backgroundButtonColor: #E3E3E3;
$NavBarColor: #16337f;
$NavBarMenuColor: #2b468b;
$NavScrollBarColor: #3b5db4;
$textColor: white;

//Medidas
$toggleTimeAnimation: 0.3s;
$bigScreenSideBarWidth: 10vw;
$bigScreenSideBarMarginInline: 1vw;
$midScreenSideBarWidth: 12vw;
$midScreenSideBarMarginInline: 1vw;
$smallScreenSideBarWidth: 14vw;
$smallScreenSideBarMarginInline: 1vw;

//Breakpoints
$bigBreakpoint: 1440px;
$midBreakpoint: 1120px;
$smallBreakpoint: 963px;
$mobileBreakpoint: 768px;
$mobileVerticalBreakpoint: 636px;

@media (max-width: calc($mobileBreakpoint - 1px)){
  .NavMenu{
    position: fixed;
    top: 0;
    right: 0;
    width: 60vw;
    background-color: $NavBarColor;
    height: 100vh;
    transition: inherit;

    .closeIcon{
      height: 5%;
      position: absolute;
      background-color: transparent;
      border: transparent;
      top: 0;
      right: 0;
    }

    .LogoSideBar{
      max-width: 100%;
      max-height: 20%;
    }
  }
}

@media (min-width: $mobileBreakpoint){
  .NavMenu{
    position: absolute;
    width: 8vw;
    height: 84.5vh;
    margin-inline: 1vw;
    margin-block: 2vh;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    overflow: hidden;
    padding: 1%;
    transition: inherit;

    .buttons{
      height: 100%;
      .buttonOverlay{
        .menuButton{
          margin-block: 10%;
        }
      }

      .center{
        height: 69%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .bottom{
        display: flex;
        align-items: center;
        height: 29%;
      }

    }
  }
}