.navMenu {
  width: 100%;
  height: 100%;
}
.navMenu .profile {
  display: none;
}

@media only screen and (min-width: 767px) {
  .navMenu .buttons {
    height: 100%;
  }
  .navButtons {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
  }
  .navButtons .optionIcon {
    width: 120px;
    height: 120px;
  }
  .navButtons .optionIcon svg {
    width: 45px;
    height: 45px;
    fill: var(--blue-theme-color--);
  }
  .sessionButtons {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sessionButtons .logOut {
    width: 120px;
    height: 120px;
  }
  .sessionButtons .logOut svg {
    width: 45px;
    height: 45px;
    fill: var(--blue-theme-color--);
  }
}
@media only screen and (max-width: 767px) {
  .navMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
    padding-block: 10%;
  }
  .navMenu .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navMenu .profile .profilePicture {
    width: 90px;
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    font-size: 35px;
    font-weight: bold;
    justify-content: center;
  }
  .buttons {
    width: 100%;
    padding-inline: 5%;
    position: relative;
    bottom: 0;
    flex-direction: column-reverse;
    flex-grow: 1;
    max-height: calc(100% - 120px);
  }
  .profileName {
    max-width: 60%;
    text-align: center;
    font-weight: bold;
  }
  .navButtons {
    padding-block: 5%;
    width: 100%;
    height: 90%;
    max-height: 90%;
    overflow: auto;
  }
  .navButtons .optionIcon svg {
    width: 30px;
    height: 30px;
  }
  .sessionButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10%;
    width: 100%;
  }
  .sessionButtons .logOut svg {
    width: 30px;
    height: 30px;
  }
}