.userPicture{
  height: 40px;
  aspect-ratio: 1/1;
  display: flex;
  font-size: 20px;
  text-decoration: none;
  border-radius: 50%;
  overflow: hidden;
}

.userPicture .initialCircle {
  width: 100%;
  height: 100%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.initialCircle{
  font-size: inherit;
}

.userPicture > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}