.panelItem{
  background-color: #F7F7F7;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  display: block;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  border-radius: 5px;
  flex-grow: 1;
}

.iconContainer > svg{
  font-size: 70px;
}

.iconContainer > svg path{
  fill: var(--blue-theme-color--);
}

.itemTitle{
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}