.usersListPage {
    padding: var(--page-vertical-padding--) var(--page-horizontal-padding--);
    display: flex;
    flex-direction: column;
}

.pageTitle{
    text-align: left;
    width: 65%;
    align-self: flex-start;
}

.header{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

.newUserButton{
    margin-left: auto;
}

@media only screen and (max-width: 700px){

    .header{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .newUserButton{
        margin: 0;
    }
    
    .pageTitle{
        text-align: center;
        align-self: auto;
        width: 100%;
    }
}