.usersListPage {
    padding: var(--page-vertical-padding--) var(--page-horizontal-padding--);
    display: flex;
    flex-direction: column;
}

.pageTitle{
    text-align: left;
    width: 65%;
    align-self: flex-start;
    margin-bottom: 40px;
}

@media only screen and (max-width: 765px){
    
    .pageTitle{
        text-align: center;
        align-self: center;
    }
}