.workPanelPage{
  padding: var(--page-vertical-padding--) var(--page-horizontal-padding--);
}

.pageTitle{
  font-size: var(--h1-title-size--);
  margin-bottom: 25px;
}

.optionsContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

@media only screen and (max-width: 500px){

  .pageTitle{
    text-align: center;
  }
}