$backgroundButtonColor: #E3E3E3;

//Medidas
$toggleTimeAnimation: 0.3s;
$bigScreenSideBarWidth: 10vw;
$bigScreenSideBarMarginInline: 1vw;
$midScreenSideBarWidth: 12vw;
$midScreenSideBarMarginInline: 1vw;
$smallScreenSideBarWidth: 14vw;
$smallScreenSideBarMarginInline: 1vw;

//Breakpoints
$bigBreakpoint: 1440px;
$midBreakpoint: 1120px;
$smallBreakpoint: 963px;
$mobileBreakpoint: 768px;
$mobileVerticalBreakpoint: 636px;

@media (min-width: $mobileBreakpoint) and (min-height: $mobileVerticalBreakpoint){
    .menuButton{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $backgroundButtonColor;
            border: transparent;
            width: 70%;
            aspect-ratio: 1;
            border-radius: 100%;
            transition: box-shadow 0.3s ease, transform 0.3s ease;
    
            &:hover{
                transform: scale(1.1);
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
            }
        }
    
        .icon{
            width: 75%;
        }
    
        span{
            margin-top: 5%;
        }
    }
}