$backgroundButtonColor: #E3E3E3;
$NavBarColor: #16337f;
$NavBarMenuColor: #2b468b;
$NavButtonHoverColor: #3b5db4;
$textColor: white;

//Medidas
$toggleTimeAnimation: 0.3s;
$bigScreenSideBarWidth: 10vw;
$bigScreenSideBarMarginInline: 1vw;
$midScreenSideBarWidth: 12vw;
$midScreenSideBarMarginInline: 1vw;
$smallScreenSideBarWidth: 14vw;
$smallScreenSideBarMarginInline: 1vw;

//Breakpoints
$bigBreakpoint: 1440px;
$midBreakpoint: 1120px;
$smallBreakpoint: 963px;
$mobileBreakpoint: 768px;
$mobileVerticalBreakpoint: 636px;

@media only screen and (max-width: 767px), (max-height: 499px){
    .menuButton{
        color: $textColor;
        width: 100%;

        .option{
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: $NavBarMenuColor;
            border: inherit;
            color: inherit;
            font-size: 1rem;
            width: 90%;
            border-radius: 20px;
            padding: 5%;
            margin-inline: 5%;
            margin-block: 4%;
            transition: background-color 0.2s ease, transform 0.3s ease;

            .button{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                cursor: pointer;
                width: 20%;
            }

            span{
                width: 80%;
            }

            &:hover{
                background-color: $NavButtonHoverColor;
                transform: scale(1.03);
            }
        }
    }
}

@media only screen and (min-width: 767px) and (min-height: 500px){
    .menuButton{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        cursor: pointer;
        
        .option{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            background-color: transparent;
            border: transparent;
            cursor: pointer;

            .button{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $backgroundButtonColor;
                border: transparent;
                cursor: pointer;
                width: 75%;
                aspect-ratio: 1;
                border-radius: 100%;
                transition: box-shadow 0.3s ease, transform 0.3s ease;
            }
        
            .icon{
                width: 100%;
            }
        
            span{
                margin-top: 5%;
                font-size: 1rem;
            }
        }
    }
}