.notification{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: helvetica;
  text-align: center;
  gap: 15px;
  padding: 20px;
}

.notification .iconContainer{
  margin-bottom: 15px;
  --icon-size--:100px;
}

.notification h2{
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.notification p{
  width: 90%;
  margin: 0;
}


/* Efectos del icono */
.crossmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #ff0000;
  fill: none;
 animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.crossmark {
  width: var(--icon-size--);
  height: var(--icon-size--);
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #ff0000;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #ff0000;
  animation: fillred .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.crossmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.cross__path {
  stroke: #ffffff;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  transform-origin: 50% 50% 0;
}
.cross__path__right{
  animation: 0.3s ease 0.8s normal forwards 1 running stroke;
}
.cross__path__left {
  animation: 1s ease 0.8s normal forwards 1 running stroke;
}
@keyframes fillred {
  100% {
    box-shadow: inset 0px 0px 0px calc(var(--icon-size--) / 2) #ff0000;
  }
  
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
