.container{
    display: flex;
    flex-direction: column;
    span{
        font-weight: bold;
    }
    width: 100%;
    text-overflow: clip;
}

.content{
    background-color: #F4F6FA;
    width: 100%;
    padding-block: 7px;
    padding-inline: 15px;
    border-radius: 7px;
    border: 1px solid #E7E7E7;
}