.activityFilter{
    width: 100%;
    border-radius: 7px;
    border: 1px solid #b8bfc3;
    padding: 15px;
    margin-block: 10px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.dateInput{
    max-width: 250px;
}

.selectDate{
    display: flex;
    flex-direction: column;
    font-weight: 300;
    width: 250px;
}

.searchInput{
    width: 250px;
}

@media only screen and (max-width: 1150px){
    .activityFilter{
        justify-content: space-between;
        row-gap: 20px;
    }

    .selectDate{
        flex-grow: 1;
    }
    
    .dateInput{
        max-width: 100%;
    }

    .searchInput{
        flex-grow: 1;
    }
}

@media (max-width: 841px){
    .searchInput{
        flex-grow: 1;
        margin-top: 10px;
    }
}