.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.page h1{
    display: block;
    text-align: center;
    font-size: var(--h1-title-size--);
}

.helloName{
    margin-top: 50px;
    padding: 0 var(--page-horizontal-padding--);
    word-wrap: break-word
}

.mainContent{
    margin: 40px var(--page-horizontal-padding--);
}