.profileHeader{
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.userName{
  font-size: 25px;
}

.profileHeader .headerDataContainer{
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
}

.headerDataContainer span{
  word-wrap: break-word;
  width: 100%;
  overflow: hidden;
  display: block;
}


@media only screen and (max-width: 600px){
  .profileHeader{
    align-items: center;
    flex-direction: column;
  }

  .headerDataContainer{
    align-items: center;
    width: 100%;
  }

  .headerDataContainer span{
    display: block;
    word-wrap: break-word;
    width: 100%;
    text-align: center;
  }

}