.optionsButtonContainer {
  position: relative;
  height: fit-content;
  width: fit-content;
}

.optionsButton {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropMenu {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  min-width: 110%;
  display: none;
  background-color: white;
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
}

.dropMenu.topMenu{
  bottom: calc(100% + 10px);
  top: unset;
}

.dropMenu.visible{
  display: block;
  animation: showMenu .3s;
  z-index: 999;
}

.menuItem {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: background-color .3s ease;
  cursor: pointer;
}

.menuItem:hover{
  background-color: rgb(219, 224, 249);
}

@keyframes showMenu{
  from{
    opacity: 0;
    transform: scale(0.8);
  }
  to{
    opacity: 1;
  }
}