.selectPromotionResponsibleTable{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.filter{
  width: 100%;
}

.nameRow{
  text-align: left;
  order: 0;
  border-bottom:0 !important;
}

.pictureRow{
  display: flex !important;
  justify-content: end;
  order:1;
}

.promotionRow{
  order: 2;
}

.buttonRow{
  order: 3;
}

/*El breakpoint debe coinicidir con el de la table*/
@media only screen and (max-width: 900px){
  .picture{
    width: 100%;
  }
}