.main{
    padding-inline: var(--page-inline-padding--);
    padding-block: var(--page-block-padding--);
}

.pageHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .optionsButton{
        display: none;
    }
}

.responsible{
    .optionsButton{
        display: block;
    }
}

@media only screen and (max-width: 460px){
    .pageHeader{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1{
            width: 100%;
            text-align: center;
            margin-block-end: 25px;
        }

        .optionsButton{
            margin-block-end: 15px;
        }
    }
}