.imagePicker {
  background-color: rgb(242, 242, 242);
  border: 1px dashed rgb(105, 105, 105);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 200px;
}

.cardsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
}

.imagePicker .inputFileContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border: none;
  background: none;
}

.galleryStyle .inputFileContainer {
  width: 85px;
  height: 100px;
  overflow: hidden;
  background-color: #D8DADF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 5px;
}

.imagePicker .uploadIcon {
  width: 100px;
  height: 100px;
}

.imagePicker .uploadIcon path{
  fill: var(--blue-theme-color--);
}

.imagePicker .inputFile {

  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;

}

.imagePicker .fileInputInfo {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
}

.imagePicker .fileInputInfo span {
  text-align: center;
}

.imagePicker .fileInputInfo span.boldSpan {
  font-size: 20px;
  font-weight: bold;
}

.imagePicker .fileInputInfo span:not(.boldSpan) {
  font-size: 17px;
  color: var(--gray-text-color);
}


.inputFileContainer input[type="file"] {
  cursor: pointer;
}


/*Estilo de galeria*/

.galleryStyle {
  padding: 10px;
}

.imagePicker.galleryStyle .inputFileContainer:hover {
  background-color: #cacacc;
}

.imagePicker.galleryStyle .inputFileContainer span {
  display: none;
}

.imagePicker.galleryStyle .uploadIcon {
  width: 50px;
  height: 50px;
}

.imagePicker.galleryStyle .uploadIcon path{
  fill: rgb(58, 58, 58);
}