.updatePasswordPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
}

.logo {
  width: 250px;
  height: 77.65px;
  margin: 35px;
}

.title {
  font-size: 35px;
  font-weight: 600;
  margin-top: -10px;
  text-align: center;
  width: 90%;
}

.instructions {
  font-size: 20px;
  text-align: center;
  line-height: 2;
  width: 90%;
  max-width: 800px;
}

.updatePasswordPage form {
  display: flex;
  flex-direction: column;
  column-gap: 40px;
  width: 80%;
  max-width: 450px;
  place-items: center;
  margin-top: 50px;
}

.inputPhoto {
  grid-row: span 2;
}

.buttonItem,
.globalError {
  grid-column: 2;
  width: fit-content;
  margin-top: 30px;
}

.globalError {
  color: var(--error-color--)
}

@media only screen and (max-width: 530px) {
  form {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .updatePasswordPage {
    padding: 0;
  }


  .inputPhoto {
    grid-row: 1;
    width: fit-content;
  }

  .buttonItem,
  .globalError {
    grid-column: 1;
    margin: 0;
  }

}