.pageContainer {
  height: calc(100vh - var(--navbar-height--));
  max-height: calc(100vh - var(--navbar-height--));
  display: flex;
  flex-direction: row;
}

.navMenu {
  width: var(--sidebar-width--);
  min-width: var(--sidebar-width--);
}

.page {
  flex-grow: 1;
}

@media only screen and (max-width: 767px) {
  .navMenu {
    width: var(--sidebar-mobile-width--);
    position: absolute;
    top: var(--navbar-height--);
    left: 0;
    height: calc(100vh - var(--navbar-height--));
    z-index: 1;
    transition: left 0.3s ease;
    background-color: var(--blue-theme-color--);
  }
  .retractedMenu {
    left: calc(0px - var(--sidebar-mobile-width--));
  }
}