.pageContainer {
  height: calc(100vh - var(--navbar-height--));
  max-height: calc(100vh - var(--navbar-height--));
  display: flex;
  flex-direction: row;
}

.navMenu {
  width: var(--sidebar-width--);
  min-width: var(--sidebar-width--);
}

.page {
  flex-grow: 1;
}

@media only screen and (min-width: 767px) {
  .navMenu {
    margin-block: 10px;
    border-radius: 20px;
    margin-inline: 15px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 0px 0px 2px 2px #c4c4c4;
  }
}
@media only screen and (max-width: 767px) {
  .navMenu {
    width: var(--sidebar-mobile-width--);
    position: absolute;
    top: var(--navbar-height--);
    left: 0;
    height: calc(100vh - var(--navbar-height--));
    z-index: 1;
    transition: left 0.3s ease;
    background-color: var(--blue-theme-color--);
  }
  .retractedMenu {
    left: calc(0px - var(--sidebar-mobile-width--));
  }
}