$NavBarColor: #16337f;
$NavBarMenuColor: #2b468b;
$NavScrollBarColor: #3b5db4;
$textColor: white;

//Medidas Desktop
$toggleTimeAnimation: 0.3s;
$bigScreenSideBarWidth: 10vw;
$bigScreenSideBarMarginInline: 1vw;
$midScreenSideBarWidth: 12vw;
$midScreenSideBarMarginInline: 1vw;
$smallScreenSideBarWidth: 14vw;
$smallScreenSideBarMarginInline: 1vw;

//Breakpoints
$bigBreakpoint: 1440px;
$midBreakpoint: 1120px;
$smallBreakpoint: 963px;
$mobileBreakpoint: 768px;
$mobileVerticalBreakpoint: 636px;


//Medidas Mobile
$normalMobileSideBarWidth: 60vw;


@media (max-width: calc($mobileBreakpoint - 1px)){
  .pageContent{
    transition: width $toggleTimeAnimation ease, right $toggleTimeAnimation ease;
    width: 100%;
    min-height: 88vh;
    height: 150vh;
    border-radius: 35px 35px 0 0;
    background-color: white;
    overflow: hidden;
  }

  .pageContent.showBar{
    .NavMenu{
      bottom: 0;
      right: 0vw;
    }
  }

  .pageContent.hideBar{
    .NavMenu{
      bottom: 0;
      right: -$normalMobileSideBarWidth;
    }
  }

}

//Estilos Desktop
@media (min-width: $mobileBreakpoint){
  .pageContent{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 88.5vh;
    max-height: 88.5vh;
    transition: width $toggleTimeAnimation ease, left $toggleTimeAnimation ease;
  
    .content{
      position: absolute;
      height: 88.5vh;
      max-height: 88.5vh;
      overflow-y: auto;
      top: 0;
      transition: inherit;
    }
  
  }
  
  .pageContent.showBar{
    .NavMenu{
      bottom: 0;
      left: 0;
    }
    .content{
      left: $bigScreenSideBarWidth;
      width: calc(100vw - $bigScreenSideBarWidth);
    }
  
  }
  
  .pageContent.hideBar{
    .NavMenu{
      bottom: 0;
      left: calc(-1*$bigScreenSideBarWidth);
    }
    .content{
      left: 0;
      width: 100vw;
    }
  }
  
  @media (max-width: $bigBreakpoint) and (min-width: $midBreakpoint){
    .pageContent{
      .NavMenu{
        width: calc($midScreenSideBarWidth - 2* $midScreenSideBarMarginInline);
      }
    }
  
    .pageContent.showBar{
      .NavMenu{
        bottom: 0;
        left: 0;
      }
      .content{
        left: $midScreenSideBarWidth;
        width: calc(100vw - $midScreenSideBarWidth);
      }
    
    }
    
    .pageContent.hideBar{
      .NavMenu{
        bottom: 0;
        left: calc(-1*$midScreenSideBarWidth);
      }
      .content{
        left: 0;
        width: 100vw;
      }
    }
  }
  
  @media (max-width: $midBreakpoint){
    .pageContent{
      .NavMenu{
        width: calc($smallScreenSideBarWidth - 2* $smallScreenSideBarMarginInline);
      }
    }
  
    .pageContent.showBar{
      .NavMenu{
        bottom: 0;
        left: 0;
      }
      .content{
        left: $smallScreenSideBarWidth;
        width: calc(100vw - $smallScreenSideBarWidth);
      }
    
    }
    
    .pageContent.hideBar{
      .NavMenu{
        bottom: 0;
        left: calc(-1*$smallScreenSideBarWidth);
      }
      .content{
        left: 0;
        width: 100vw;
      }
    }
  }
}
