.pageContainer{
  height: calc(100vh - var(--navbar-height--));
  max-height: calc(100vh - var(--navbar-height--));
  display: flex;
  flex-direction: row;
}

.navMenu{
  width: var(--sidebar-width--);
  min-width: var(--sidebar-width--);
}

.page{
  flex-grow: 1;
  max-height: calc(100vh - var(--navbar-height--));
  overflow: auto;
}

@media only screen and (min-width: 767px) and (min-height: 500px) {
  .navMenu{
    overflow: hidden;
    padding: 10px;
    background-color: #E3E3E3;
    font-size: 0.75rem;
    z-index: 100;
  }
}

@media only screen and (max-width: 767px), (max-height: 499px) {
  .navMenu{
    width: var(--sidebar-mobile-width--);
    position: absolute;
    top: var(--navbar-height--);
    left: 0;
    height: calc(100vh - var(--navbar-height--));
    z-index: 1;
    transition: left 0.3s ease;
    background-color: var(--blue-theme-color--);
  }
  .retractedMenu{
    left: calc(0px - var(--sidebar-mobile-width--));
  }
}