.main {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.main h2 {
  font-size: var(--h2-title-size--);
}

.title {
  margin-block-start: 40px;
}
.activityParticipantsPage h2 {
  font-size: var(--h2-title-size--);
  margin-top: 40px;
}