.main {
  padding-block: 40px;
  padding-inline: 60px;
}
.main h1 {
  font-size: var(--h1-title-size--);
}
.main h2 {
  font-size: var(--h2-title-size--);
}
.main h3 {
  font-size: var(--h3-title-size--);
}
.main h4 {
  font-size: var(--h4-title-size--);
}

.pageHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.adminButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0F0F0;
  font-weight: bold;
  color: black;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-block: 10px;
}
.adminButton:hover {
  opacity: 1;
}
.adminButton:not(:disabled):hover {
  background-color: #F0F0F0;
  transform: scale(1.07);
  box-shadow: 0px 0px 1px 1px rgb(165, 165, 165);
  opacity: 1;
}

.adminButtIcon {
  height: 100%;
  min-height: 20px;
  min-width: 20px;
  margin-left: 5px;
}

.holderDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  column-gap: 40px;
  padding-block: 20px;
  flex-wrap: wrap;
}

.holderInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-grow: 1;
}
.holderInfo h2 {
  margin-block: 15px;
}

.serviceBlock {
  display: flex;
  flex-direction: column;
}
.serviceBlock h1 {
  margin-block-start: 15px;
  margin-block-end: 25px;
}

.serviceDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 40px;
}

.totalHours {
  min-height: 100%;
  padding: 15px;
  border-radius: 15px;
  margin-block: 10px;
  flex-grow: 1;
  box-shadow: 0px 0px 1px 1px rgb(214, 214, 214);
}

.progressContainer {
  flex-grow: 1;
}

.pfp {
  flex-grow: 1;
}

.areaClasification h4 {
  margin-block: 40px;
}

.areaDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.areaList {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-grow: 1;
}

.chartContainer {
  flex-grow: 1;
}

.areaListItem {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.areaListItem b {
  margin-right: 10px;
}

.areaListIcon {
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
  object-fit: cover;
}

.chartContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chart {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
  aspect-ratio: 1/1;
}
.chart canvas {
  aspect-ratio: 1/1;
  width: 100% !important;
  height: 100% !important;
}