.pagination{
  margin: auto;
}

.pictureRow{
  display: flex !important;
  justify-content: end;
  order:1;
}

.nameRow{
  text-align: left;
  order: 0;
  border-bottom:0 !important;
}

.promotionRow{
  order: 2;

}

.statusRow{
  order: 3;
}

.buttonRow{
  order: 4;
  overflow: visible !important;
}

.optionsButton{
  margin-left: auto;
}
