$backgroundColor: #dddddd;
$progressColor: #73e57e;

.progressBackground {
  background-color: $backgroundColor;
  height: 1.5rem;
  border-radius: 25px;
  overflow: hidden;
  flex-grow: 1;
  .progressIndicator {
    width: var(--progress);
    height: 100%;
    background-color: $progressColor;
    border-radius: inherit;
    transition: width 1s ease-in-out;
  }
}
.progressBar {
  display: flex;
  justify-content: center;
  align-items: center;
  .progressLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 2%;
    width: auto;
    font-weight: bold;
    font-size: 1.5rem;
    transition: opacity 1s ease-in-out;
  }
  .progressLabel.visible {
    opacity: 1;
  }

  .progressLabel.hidden {
    opacity: 0;
  }
}
