.page{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.page h1{
    display: block;
    text-align: center;
    font-size: var(--h1-title-size--);
}

.helloName{
    margin-block-start: 25px;
}