.banner{
  width: 100%;
  height: calc(90vh - var(--navbar-height--));
  position: relative;
  overflow: hidden;
  max-height: 600px;
}

.banner::after{
  content:"";
  width: 100%;
  height: 5px;
  background-color: white;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  z-index: 3;
}

.banner ul{
  list-style: none;
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.banner .logoContainer{
  background-color: rgb(22, 51, 127,0.65);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding-bottom: 30px;
}

.logoContainer > img{
  width: 70%;
  max-width: 450px;
}

.banner li{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .wave{
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  fill: white;
}


.simpleWave{
  display: none;
}

@media only screen and (max-width:700px) and (orientation: portrait){
  .banner{
    height: calc(70vh - var(--navbar-height--));
  }

  .simpleWave{
    display: block;
  }

  .wave:not(.simpleWave){
    display: none;
  }
  
}

@media only screen and (max-height:450px){
  .logoContainer > img{
    width: auto;
    height: 30%;
  }
  
}